name: Build, Test and Release

on:
  push:
    tags:
      - 'v*'   # run only on tags that start with 'v'
  release:
    types:
      - created

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build styles
        run: npm run build:styles

      - name: Run type/check
        run: npm run check

  publish:
    name: Pack, Release & Publish
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build styles
        run: npm run build:styles

      - name: Create package tarball
        id: pack
        run: |
          npm pack
          echo "TARBALL=$(ls *.tgz | head -n 1)" >> $GITHUB_OUTPUT

      - name: Create a new release
        id: create_release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ steps.pack.outputs.TARBALL || '' }}
